*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

img,
picture {
  max-width: 100%;
  display: block;
}

body {
  background-color: #fff;
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.huddle__button {
  background-color: #fff;
  border: 0.1rem solid transparent;
  border-radius: 3rem;
  width: 10rem;
  padding: 0.4rem 0;
  font-weight: 700;
  font-size: 1.1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
@media (min-width: 1140px) {
  .huddle__button {
    width: 20rem;
    padding: 1.5rem 0;
    font-size: 1.5rem;
  }
}
.huddle__button--secondary {
  width: 25rem;
  padding: 1.2rem 0;
  font-size: 1.2rem;
  background-color: #ff52bf;
  color: #fff;
  margin: 5rem 0;
}
.huddle__button--tertiary {
  width: 25rem;
  padding: 1.2rem 0;
  font-size: 1.2rem;
  background-color: #ff52bf;
  color: #fff;
}

.huddle__header {
  background-image: url("./../../images/bg-hero-mobile.svg");
  background-color: #ebfbff;
  background-size: cover;
}
.huddle__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.huddle__logo {
  width: 10rem;
}
@media (min-width: 1140px) {
  .huddle__logo--header {
    width: 20rem;
  }
}
.huddle__logo--footer {
  width: 15rem;
  margin-bottom: 2rem;
  filter: brightness(0) invert(1);
}
@media (min-width: 810px) {
  .huddle__logo--footer {
    margin-left: 7.5%;
  }
}
@media (min-width: 810px) {
  .huddle__header-wrapper {
    display: grid;
    grid-template-columns: 40% 60%;
  }
}
@media (min-width: 810px) {
  .huddle__text-wrapper {
    text-align: left;
  }
}
.huddle__title--primary {
  font-size: clamp(2.4rem, 3.5vw, 4rem);
  max-width: 34rem;
  padding: 9rem 2rem 3rem;
}
@media (min-width: 810px) {
  .huddle__title--primary {
    padding: 9rem 0 3rem;
    max-width: 50rem;
  }
}
.huddle__title--secondary {
  font-size: 2rem;
  margin: 5rem 0 2rem;
}
@media (min-width: 810px) {
  .huddle__title--secondary {
    margin: 0 0 2rem;
  }
}
.huddle__subtitle {
  font-size: clamp(1.6rem, 1.6vw, 1.7rem);
  font-weight: 400;
}
.huddle__subtitle--primary {
  padding: 0 1.5rem;
}
@media (min-width: 810px) {
  .huddle__subtitle--primary {
    padding: 0;
  }
}
.huddle__subtitle--secondary {
  color: #808d99;
  font-size: 1.4rem;
}
@media (min-width: 810px) {
  .huddle__poster {
    align-self: center;
  }
}
.huddle__cards {
  position: relative;
  width: 90%;
  max-width: 73rem;
  margin: 0 auto;
  padding: 6rem 0 20rem 0;
}
@media (min-width: 810px) {
  .huddle__cards {
    max-width: unset;
  }
}
.huddle__card {
  border-radius: 2rem;
  margin-bottom: 4rem;
  padding: 4rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
@media (min-width: 810px) {
  .huddle__card {
    max-width: 85%;
    margin: 0 auto;
  }
}
@media (min-width: 810px) {
  .huddle__card {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: left;
    justify-content: space-between;
  }
}

.container {
  width: 90%;
  max-width: 73rem;
  margin: 0 auto;
  padding: 2.5rem 0 4rem 0;
}
@media (min-width: 810px) {
  .container {
    max-width: 85%;
  }
}

@media (min-width: 810px) {
  .grow__text-wrapper {
    max-width: 40%;
  }
}
@media (min-width: 810px) {
  .grow__picture {
    max-width: 40%;
  }
}

.flowing__card {
  flex-direction: row;
}
@media (min-width: 810px) {
  .flowing__text-wrapper {
    max-width: 40%;
  }
}
@media (min-width: 810px) {
  .flowing__picture {
    max-width: 40%;
  }
}

@media (min-width: 810px) {
  .users__text-wrapper {
    max-width: 40%;
  }
}
@media (min-width: 810px) {
  .users__picture {
    max-width: 40%;
  }
}

.community__card {
  position: absolute;
  background-color: #fff;
  border-radius: 2rem;
  padding: 4rem 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  bottom: -6rem;
  left: 50%;
  transform: translateX(-50%);
  min-width: 35rem;
}
@media (min-width: 810px) {
  .community__card {
    width: 50%;
  }
}
.community__question {
  margin-bottom: 3rem;
}

.footer {
  background-color: #00252e;
  padding: 15rem 2rem 5rem 2rem;
  color: #ebfbff;
  text-align: left;
}
@media (min-width: 810px) {
  .footer__info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 85%;
    margin: 0 auto;
  }
}
.footer__contacts {
  padding: 0 0 0 4rem;
}
@media (min-width: 810px) {
  .footer__contacts {
    font-size: 1.5rem;
    width: 90%;
  }
}
.footer__location {
  position: relative;
  margin-bottom: 2rem;
  line-height: 2.5rem;
}
.footer__location::before {
  content: url("./../../images/icon-location.svg");
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.5rem;
  left: -4rem;
}
.footer__number {
  position: relative;
  margin-bottom: 2rem;
}
.footer__number::before {
  content: url("./../../images/icon-phone.svg");
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.5rem;
  left: -4rem;
}
.footer__mail {
  position: relative;
}
.footer__mail::before {
  content: url("./../../images/icon-email.svg");
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: 0.5rem;
  left: -4rem;
}
.footer__list {
  list-style: none;
  margin: 6rem 0;
  font-size: 1.8rem;
}
@media (min-width: 810px) {
  .footer__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    margin: 0;
    font-size: 1.5rem;
  }
}
.footer__item {
  margin-bottom: 2rem;
}
.footer__link:link, .footer__link:visited {
  color: #ebfbff;
  text-decoration: none;
}
@media (min-width: 810px) {
  .footer__social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.footer__social--list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer__social--link {
  border: 0.1rem solid #ebfbff;
  padding: 0.5rem;
  border-radius: 50%;
}
.footer__social--link svg path {
  fill: #ebfbff;
}
.footer__social--link svg {
  width: 2rem;
  height: 1.5rem;
}
@media (min-width: 810px) {
  .footer__wrapper {
    font-size: 1.5rem;
  }
}
.footer__copyright {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 3rem;
}
.footer__attribution {
  width: 100%;
  font-size: clamp(1rem, 2vw, 1.4rem);
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
}
.footer__attribution-link:link, .footer__attribution-link:visited {
  text-transform: uppercase;
  color: #ff52bf;
  text-decoration: none;
  font-weight: 400;
}
.footer__attribution-link:hover, .footer__attribution-link:active {
  color: #ff52bf;
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
