.flowing {
  &__card {
    flex-direction: row;
  }

  &__text-wrapper {
    @media (min-width: 810px) {
      max-width: 45%;
      padding-right: 4rem;
    }
  }

  &__picture {
    @media (min-width: 810px) {
      max-width: 40%;
    }
  }
}
